.item-image{
    width:240px;
    height:360px;
}
.item-title{
    width:240px;
    font-size:18px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
// .title-item{
//     margin:10px 20px;
// }
.at-switch{
    transform:scale(0.7)
}
.switch-item{
    font-size:20px;
}