.user-container{
    text-align: center;
    padding: 40px;
}
.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
button{
    margin-top:10px;
}
at-button{
    margin-bottom:100px;
}
.contact{
    margin-top:40px
}